/* Set up/Base */

@font-face {
    font-family: Pixelfont;
    src: url(Retro\ Gaming.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-image: url("../IMG/BG.jpg");
    background-size: 100vw 100vh;
    font-family: Pixelfont;
    overflow: hidden;
}

@keyframes Bounce {
    0% {margin-top: 30px;}
    50% {margin-top: 35px;}
    100% {margin-top: 30px;}
}

@keyframes Bounce2 {
    0% {margin-top: 5px;}
    50% {margin-top: 0px;}
    100% {margin-top: 5px;}
}

@keyframes Bounce3 {
    0% {margin-top: 70px;}
    50% {margin-top: 65px;}
    100% {margin-top: 70px;}
}

/* Start/Home */

#Title {
    animation-duration: 2.5s;
    animation-name: Bounce;
    animation-iteration-count: infinite;
}

#headerStart { 
    display: flex;
    justify-content: center;
}

#navStart {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#navStart > a > img {
    width: 18.25vw;
}

.StartImg {
    margin-top: 30px;
    width: 43.8vw;
}

#StarGif {
    position: absolute;
    right: 18vw;
    bottom: 11vh;
    width: 10.95vw;
}

#Ufo {
    position: absolute;
    left: 20vw;
    bottom: 10vh;
    width: 18.25vw;
}

#mainStart {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Essay */

.articleCV {
    display: none;
    font-size: large;
}

#mainCV {
    display: flex;
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
}

#headerCV {
    margin: 10px;
}

#headerCV > a {
    margin-right: 10px;
}

#headerCV > a > img {
    width: 8vw;
}

#headerCV > a:hover {
    cursor: pointer;
}

.shopButton {
    background-size: contain;
    background-repeat: no-repeat;
    width: 18.8vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    font-family: Pixelfont;
    font-size: 1.2vw;
    padding-top: 10px;
    margin-bottom: 30px;
    color: rgb(88, 83, 94);
    text-align: center;
}

#buttonFarm0 {
    background-size: contain;
    background-repeat: no-repeat;
    width: 18.8vw;
    height: 15vh;
}

.shopButton > p {
    margin: 5px;
}

.shopButton:hover {
    cursor: pointer;
}

#Farms {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 2.5s;
    animation-name: Bounce2;
    animation-iteration-count: infinite;
}

#ClickerSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(192, 187, 212);
    font-size: larger;

    animation-duration: 2.5s;
    animation-name: Bounce3;
    animation-iteration-count: infinite;
}

#ClickerSect > img {
    transition: all 0.2s ease-in-out;
    width: 60%;
}

#ClickerSect > img:hover {
    transform:scale(1.10);
    cursor: pointer;
}

#ClickerSect > img:active {
    transform: scale(0.99);
}

#CvBg {
    background-image: url("../IMG/TextBox.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 72.5vh;
    width: 40vw;
    margin-top: 30px;
}

#CV {
    overflow: hidden;
    box-sizing: border-box;
    padding: 7.2% 12% 5.5% 8%;
    height: 100%;
    width: 100%;
}

#CvScroll {
    position: relative;
    height: 98%;
    width: inherit;
    overflow: auto;
    margin: 0;
    padding-right: 10px;
}

#CvScroll::-webkit-scrollbar {
    appearance: none;
}

#CvScroll::-webkit-scrollbar-track {
    background-color: #8d819d;
    margin-top: 5px;
    margin-bottom: 5px;
}

#CvScroll::-webkit-scrollbar-thumb {
    background-color: #5f5981;
}

.articleCV {
    color: rgb(73, 69, 78);
}

.Emailwijzer {
    width: 90%;
}

/* Credits */

#ContactMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#TextBox {
    background-image: url("../IMG/TextBox2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 68vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding-right: 8%;
    color: rgb(62, 58, 66);
}

#Selfie {
   width: 80%;
}

h1 {
    font-size: 30px;
    margin-top: 0;
}

#StartBtnContact {
    margin: 10px;
}

.ContactLink {
    text-decoration: none;
    color: rgb(121, 91, 138);
}

.ContactLink:hover {
    color: rgb(94, 78, 114);
}